body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    background: #b0ae8b url('img/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Open Sans', serif;
    font-size: 30px;
    font-weight: normal;
    min-width: 1220px;
    min-height: 750px;
}

ul, ol, li, h2, figure {
    margin: 0;
}

.content {
    background-color: rgba(127, 125, 103, 0.6);
    height: calc(100% - 20px);
    padding-top: 20px;
}

.content > div {
    margin: 0 auto;
    text-align: center;
    height: 100%;
}

h2 {
    color: #ededed;
    text-shadow: 0 0 7px #000000;
}

ul {
    text-align: left;
    list-style: none;
}

li:before {
    content: '\2022';
    padding: 10px;
    text-shadow: 0 0 5px #000000;
}

.list-of-rules {
    font-size: 30px;
    color: #ededed;
    padding-bottom: 100px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    text-shadow: 0 0 7px #000000;
}

.new-game .grid {
    display: flex;
    justify-content: space-evenly;
    width: 800px;
    margin: 0 auto;
    padding-bottom: 35px;
    padding-top: 15px;
}

.selector {
    cursor: pointer;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    color: black;
    text-transform: lowercase;
    -webkit-filter: brightness(1) grayscale(.9) opacity(.9);
    -moz-filter: brightness(1) grayscale(.9) opacity(.9);
    filter: brightness(1) grayscale(.9) opacity(.9);
}

.selector:hover {
    color: rgba(255, 222, 31, 0.8);
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}

.selector.selected {
    filter: none;
    color: rgba(255, 222, 31, 0.8);
}

.complexity {
    width: 140px;
    height: 150px;
    display: inline-block;
    background: url('./img/sprite.png') no-repeat center;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
}

.complexity-0 {
    background-position: -420px -0px;
}

.complexity-1 {
    background-position: -420px -150px;
}

.complexity-2 {
    background-position: -0px -200px;
}

.card-table .grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 0 auto;
}

.card-table .grid-4-columns {
    width: 600px;
}

.card-table .grid-6-columns {
    width: 900px;
}

.card-table .grid-8-columns {
    width: 1220px;
}

.card-container {
    width: 140px;
    height: 200px;
    padding: 12px 5px;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
}

.card {
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
}

.card div {
    border-radius: 10%;
    box-shadow: 0 0 5px #000000;
    border: 2px solid black;
    width: 100%;
    height: 100%;
    color: #f7f7f7;
    text-align: center;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card .back {
    background-size: cover;
    background: url('./img/sprite.png') no-repeat;
}

.card .card-back-0 {
    background-position: -0px -0px;
}

.card .card-back-1 {
    background-position: -140px -0px;
}

.card .card-back-2 {
    background-position: -280px -0px;
}

.card .front {
    background-size: contain;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    overflow: hidden;
    background: white url('./img/sprite.png') no-repeat;
}

.card.hidden .front {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0.3s linear, opacity 0.3s linear;
    -moz-transition: visibility 0.3s linear, opacity 0.3s linear;
    -o-transition: visibility 0.3s linear, opacity 0.3s linear;
}

.card.flipped {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.card .front-0 {
    background-position: -140px -200px;
}

.card .front-1 {
    background-position: -280px -200px;
}

.card .front-2 {
    background-position: -420px -500px;
}

.card .front-3 {
    background-position: -0px -550px;
}

.card .front-4 {
    background-position: -140px -600px;
}

.card .front-5 {
    background-position: -280px -600px;
}

.card .front-6 {
    background-position: -420px -700px;
}

.card .front-7 {
    background-position: -0px -750px;
}

.card .front-8 {
    background-position: -140px -800px;
}

.card .front-9 {
    background-position: -280px -800px;
}

.card .front-10 {
    background-position: -420px -300px;
}

.card .front-11 {
    background-position: -0px -350px;
}

.card .front-12 {
    background-position: -140px -400px;
}

.card .front-13 {
    background-position: -280px -400px;
}

.clock {
    margin: 0 auto;
    height: 50px;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-evenly;
}

.clock span {
    color: #ffffff;
    border: 1px solid black;
    box-shadow: 0 0 5px #000000;
    padding: 3px 0;
    width: 150px;
    background-color: #a28e1b;;
    -webkit-filter: brightness(1) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1) grayscale(.5) opacity(.9);
    filter: brightness(1) grayscale(.5) opacity(.9);
}

.clock span:hover {
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1) opacity(1);
    -moz-filter: brightness(1) opacity(1);
    filter: brightness(1) opacity(1);
}

button {
    border: 1px solid black;
    box-shadow: 0 0 5px #000000;
    padding: 5px 15px;
    background-color: #0C693A;
    font-size: 30px;
    color: #ffffff;
    text-transform: uppercase;
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}

button:hover {
    cursor: pointer;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1) opacity(1);
    -moz-filter: brightness(1) opacity(1);
    filter: brightness(1) opacity(1);
}